[submodule "src/widgets/switchable"]
	path = src/widgets/switchable
    #url = git@github.com:novawidgets/switchable.git
    url = https://github.com/novawidgets/switchable.git
[submodule "src/widgets/sidebar"]
	path = src/widgets/sidebar
    #url = git@github.com:novawidgets/sidebar.git
    url = https://github.com/novawidgets/sidebar.git
[submodule "src/widgets/suggest"]
	path = src/widgets/suggest
    #url = git@github.com:novawidgets/suggest.git
    url = https://github.com/novawidgets/suggest.git
[submodule "src/core"]
	path = src/core
    #url = git@github.com:novawidgets/widgetcore.git
    url = https://github.com/novawidgets/widgetcore.git
[submodule "src/widgets/calendar"]
	path = src/widgets/calendar
	url = https://github.com/novawidgets/calendar.git
[submodule "src/widgets/swipable"]
	path = src/widgets/swipable
	url = https://github.com/novawidgets/swipable.git
[submodule "src/widgets/scratchTicket"]
	path = src/widgets/scratchTicket
	url = https://github.com:novawidgets/scratchTicket.git
