body {
  background: red;
}
body {
  position: relative;
  background: #272330;
}
.hd {
  height: 350px;
  box-sizing: border-box;
  padding-top: 60px;
}
.hd .logo {
  color: white;
  font-size: 108px;
}
.hd .desc {
  color: #E8F8F7;
  font-size: 24px;
}
.bd {
  padding-top: 40px;
  padding-bottom: 80px;
  padding-bottom: 98px;
  box-sizing: border-box;
}
.ft {
  position: absolute;
  bottom: 0;
  width: 100%;
}
/* Modules */
/* Component */
.comp-list {
  margin-right: -40px;
  padding: 10px 0;
}
.comp-list li {
  color: #757575;
  background: white;
  border-radius: 8px;
  width: 270px;
  height: 258px;
  margin-right: 40px;
  margin-bottom: 40px;
  box-sizing: border-box;
  padding: 15px 20px;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 2px 2px 0px #ddd;
}
.comp-list li h3 a {
  font-size: 24px;
  color: #A3A3A3;
  color: #a3a3a3;
}
.comp-list li h3 a:hover {
  text-decoration: underline;
}
.comp-list li .star {
  position: absolute;
  right: 20px;
  top: 25px;
  font-size: 22px;
  color: #E2E2E2;
}
.comp-list li .star:hover {
  color: #ccc;
}
.comp-list li img {
  width: 100%;
  height: 170px;
  margin-top: 12px;
}
.comp-list li .detail {
  position: absolute;
  width: 100%;
  height: 203px;
  line-height: 203px;
  left: 0;
  top: 55px;
  background: rgba(255, 255, 255, 0.9);
  opacity: 0;
  text-align: center;
  color: #6B6A70;
  transition: color,opacity 0.3s;
}
.comp-list li .detail .desc {
  font-size: 14px;
  color: #444;
  display: inline-block;
  line-height: 1.6;
  padding: 0 20px;
  text-align: left;
  vertical-align: middle;
  margin-top: -40px;
}
.comp-list li:hover h3 a {
  color: #3FA2B8;
}
.comp-list li:hover .detail {
  display: block;
  opacity: 1;
}
.comp-wrap {
  overflow: hidden;
}
.comp-wrap h2 {
  color: #BEBEBE;
  font-size: 20px;
  margin-bottom: 20px;
}
