<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}stylesheets/stylesheet.css?t={{site.time | date: "%H%M%S"}}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}stylesheets/pygment_trac.css?t={{site.time | date: "%H%M%S"}}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}stylesheets/print.css?t={{site.time | date: "%H%M%S"}}" media="print" />
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}stylesheets/base.css?t={{site.time | date: "%H%M%S"}}" media="screen" />
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script type="text/javascript" src="{{site.baseurl}}javascripts/zepto.js"></script>
    <script type="text/javascript" src="{{site.baseurl}}javascripts/zepto.touch.js"></script>
    <title>Novaui by melonHuang</title>
  </head>
  <body>
    <div id="container">
      <div class="inner">

        {% include header.html %}

        <section id="main_content">
            {{ content }}
        </section>

        {% include footer.html %}

      </div>
    </div>
    <script src="{{site.baseurl}}javascripts/highlight.pack.js"></script>
    <script src="{{site.baseurl}}javascripts/translink.js"></script>
    <script>
        hljs.initHighlightingOnLoad();
    </script>
  </body>
</html>
