---
layout: base
---

<section id="downloads" class="clearfix">
  <a href="https://github.com/melonHuang/novaUI/zipball/master" id="download-zip" class="button"><span>Download .zip</span></a>
  <a href="https://github.com/melonHuang/novaUI/tarball/master" id="download-tar-gz" class="button"><span>Download .tar.gz</span></a>
  <a href="https://github.com/melonHuang/novaUI" id="view-on-github" class="button"><span>View on GitHub</span></a>
</section>

<div>
    <div>
        {{content}}
    </div>
</div>

<ul class="widget-gallery">
    <li class="widget">
        <a href="{{site.baseurl}}docs/slider.html">
            <h3>Slider</h3>
            <p>A configurable rotating content carousel.</p>
        </a> 
    </li>
    <li class="widget">
        <a href="{{site.baseurl}}docs/suggest.html">
            <h3>Suggest</h3>
            <p>An module for generating search suggestions on an input box.</p>
        </a> 
    </li>
</ul>
