---
layout: base
---

<div class="l-sidebar">
    <ul class="m-category">
        <li class="item">
            <a href="{{site.baseurl}}docs/carousel.html">Carousel</a> 
        </li>
        <li class="item">
            <a href="{{site.baseurl}}docs/sidebar.html">Sidebar</a> 
        </li>
        <li class="item">
            <a href="{{site.baseurl}}docs/tab.html">Tab</a>
        </li>
        <li class="item">
            <a href="{{site.baseurl}}docs/suggest.html">Suggest</a>
        </li>
    </ul>
    <img src="https://chart.googleapis.com/chart?chs=120x120&chld=L|0&cht=qr&chl=http://melonHuang.github.io/novaUI{{page.url}}&choe=UTF-8" alt="" />
    <!--<img src="http://nut.a-4.us/qr">-->
</div>
<div class="l-content">
    {{content}}
</div>
